//custom-variables
$primary: #4CAF4F;
$secondary: #263238;
$gray-100: #89939E;
$gray-200: #717171;
$gray-900: #4D4D4D;
//import bootstrap utilities
@import '/node_modules/bootstrap/scss/bootstrap';


body {
    padding-top: 33px;
    
}

    .whatsapp-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #4CAF4F;
        color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
        z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
        transition: transform 0.3s ease-in-out;
    }
    
    .whatsapp-button:hover {
        transform: scale(1.2); /* Aumenta el tamaño del botón al hacer hover */
    }

    .custom-button {
        margin-top: auto;
        padding: 10px 20px;
        border: 2.5px solid #4CAF4F; /* Bordes blancos */
        border-radius: 50px; /* Bordes redondeados */
        background-color: transparent; /* Fondo transparente */
        color: #4D4D4D; /* Texto blanco */
        font-size: 16px; /* Tamaño del texto */
        font-weight: bold; /* Texto en negrita */
        text-transform: uppercase; /* Texto en mayúsculas */
        letter-spacing: 1px; /* Espaciado entre letras */
        cursor: pointer; /* Cambia el cursor a puntero */
        transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
        font-family: 'Inter', sans-serif;
    }
    
    .custom-button:hover {
        background-color: #4CAF4F; /* Fondo blanco al hacer hover */
        color: white; /* Texto negro al hacer hover */
        transform: scale(1.05);
        transition: transform 0.15s ease-in-out;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; /* Asegura que la navbar esté por encima de otros elementos */
        background-color: white; /* Asegura que tenga un fondo sólido */
        box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2); /* Añade una sombra ligera para diferenciarla del contenido */
    }

    .hero-container { 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }


.adn-card {
   
            width: auto; 
            height: 90px; 
            border: 4px solid transparent; 
            border-radius: 8%; /* Si los íconos son circulares */
             /* Transición suave para el borde */
             transition: transform 0.3s ease, border 0.3s ease;
}
  
    .adn-card:hover {
        border: 4px solid #4CAF4F; /* Bordes blancos */
        border-radius: 8%;
        transition: transform 0.3s ease, border 0.3s ease;
         transform: scale(1.15);
        
    }

    .nav-item-hover {
        position: relative;
        display: inline-block;
        transition: transform 0.3s ease, border-bottom 0.3s ease;
        padding-left: 20px; /* Ajusta el valor según el espaciado deseado */
        
      }
      
      .nav-item-hover:hover {
        transform: scale(1.1); /* Escalamiento al hacer hover */
        text-decoration: none;
        color: black; /* Desactiva cualquier subrayado por defecto */
      }
      
      .nav-item-hover::after {
        content: '';
        position: absolute;
        left: 50%;  /* Inicialmente posicionamos el borde izquierdo al 50% del ancho del elemento */
        transform: translateX(-50%) scaleX(0); /* Centramos la línea con translateX y luego aplicamos la escala */
        bottom: -1px; /* Ajusta según la posición deseada */
        width: 80%; /* Ancho de la línea subrayada */
        height: 2.4px; /* Grosor de la línea subrayada */
        background-color: #4CAF4F; /* Color del subrayado */
        transform-origin: bottom center; /* Transformación centrada horizontalmente */
        transition: transform 0.3s ease;
      }
      
      .nav-item-hover:hover::after {
        transform: translateX(-50%) scaleX(1); /* Expande la línea subrayada desde el centro al hacer hover */
      }
      
      .manage-container {
        transform: scale(1);
        
      }
      .scaled {
        transform: scale(0.9); /* Igual que: scaleX(0.7) scaleY(0.7) */
    }
     
    .logo-container {
        
    }
    .logo {
        transition: transform 0.3s ease;
    }
    
    .logo-container:hover .logo {
        content: url('/Stats/logo-fieldcom-hover.svg'); /* Cambia la imagen cuando haces hover */
        transition: transform 0.3s ease;
        transform: scale(1.1);
    }

   .servicios-title {
   
   }
    